<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forget Password</title>
</head>

<body>


    <form action="/checkpassword" method="post">

        <label for="email">Email : </label>
        <input type="email" name="email" placeholder="Enter your Email"><br>

        <label for="oldpassword">old Password:</label>
        <input type="text" name="oldpassword" placeholder="Enter Your Old Password"> <br>
        
        <input type="submit" value="Change Password">
    </form>
</body>

</html>